# All files must have LF line-endings ( "\n" ).
## This file can alternatively be used as a list of mcc project files
## This list must be sorted alphabetically due to convenience reasons

mcc.conf                                     text   eol=lf
META-INF/com/google/android/updater-script   text   eol=lf
META-INF/com/google/android/update-binary    text   eol=lf
module.prop                                  text   eol=lf
README.md                                    text   eol=lf
service.sh                                   text   eol=lf
system/xbin/mcc                              text   eol=lf
